.playList {
    margin: auto;
    margin-top: 1vh;
    width: 96%;
    filter: drop-shadow(4px 4px 5px black);
    box-shadow: 0vw 0vw 1vw -.4vw rgba(0, 0, 0, 0.6);
}

.audioList {
    height: 50vh;
    /* overflow-y: scroll; */
    overflow: auto;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE 10+ */

}
.audioList::-webkit-scrollbar {
    display: none;
    /*Chrome, Safari and Opera */
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */

}