.clock {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33vh;
    height: 33vh;
    background: url(../images/clock.png);
    background-size: cover;
    border-radius: 50%;
    box-shadow:
        0px 0px 20px 1px rgba(0, 0, 0, 0.4),
        inset 0px 0px 25px 4px rgba(0, 0, 0, 0.8)
}

.clock::before {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    z-index: -1;
    filter: drop-shadow(0px 0px 5px rgb(0, 0, 0))
}

.clock::after {
    position: absolute;
    content: "";
    width: 1.5vh;
    height: 1.5vh;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
}

.clock .hour,
.clock .min,
.clock .sec {
    position: absolute;
}

.clock .hour,
.hr {
    width: 19vh;
    height: 19vh;
}

.clock .min,
.mn {
    width: 20vh;
    height: 20vh;
}

.clock .sec,
.sc {
    width: 23vh;
    height: 23vh;
}

.hr,
.mn,
.sc {
    position: absolute;
    display: flex;
    justify-content: center;
    border-radius: 50%;
}

.hr::before {
    position: absolute;
    content: "";
    width: 0.6vw;
    height: 9vh;
    background: #ff105e;
    z-index: 10;
    border-radius: 6px 6px 0 0;
}


.mn::before {
    position: absolute;
    content: "";
    width: 0.5vw;
    height: 10vh;
    background: rgb(0, 0, 0);
    z-index: 11;
    border-radius: 6px 6px 0 0;
}

.sc::before {
    position: absolute;
    content: "";
    width: 0.1vw;
    height: 15vh;
    background: rgb(0, 0, 0);
    z-index: 12;
    border-radius: 6px 6px 0 0;
}